
.main-title-container {
  background-color: grey;
  border: 2px solid green;
}

.main-title {
  font-size: 50px;
  font-family: 'Montserrat',tahoma,verdana,arial,sans-serif;
  font-weight: bolder;
  align-items: center;
  color: white;
  text-shadow: black 0.05em 0.05em 0.05em;
  margin-top: 0px;
  margin-bottom: 0px;

}
