
.main-title-container {
  height: 350px;
  position: relative;
  background-image: url('http://www.justintelligent.com/img/webdevelopmentcover.jpg');
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-title {
  font-size: 56px;
  font-family: 'Montserrat',tahoma,verdana,arial,sans-serif;
  font-weight: bolder;
  align-items: center;
  color: white;
  text-shadow: black 0.05em 0.05em 0.05em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-title-box {
  margin-top: 90px;
}
.program-info {
  background-color:#333333;
}

@media all and (max-width: 600px) {
  .main-title {
    font-size: 46px;
  }
  .main-title-container{
    position: fixed;
    height: 390px;
  }
  .nav-ribbon {
    height: 30px;
  }
  .nav-link {
    margin-left:12px;
  }
}
